# Dependency directory
node_modules
.eslintrc.js
.gitignore
.npmignore
marvel.json
marvel.py
marvel.xml
marvel.yaml
test.py
.travis.yml
screenshot.png
.git*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editors
.vscode/*
