# Dependency directory
node_modules
.eslintrc.js
.gitignore
.npmignore
test.py
marvel.json
marvel.py
marvel.xml
marvel.yaml
.git*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editors
.vscode/*
